* {
  background-color: whitesmoke;
}

body {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
}

#start-screen {
  margin-top: 20px;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#opt {
  display: flex;
  padding: 20px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

#opt > label {
  padding: 0vh 5vh 0vh 5vh;
}

#opt :hover {
  cursor: pointer;
  color: blueviolet;
  padding: 0vh 5vh 0vh 5vh;
}

#btn {
  padding: 2vh 5vh;
  background-color: white;
  cursor: pointer;
}

.choice {
  cursor: pointer;
}

.choice.correct {
  color: green;
  animation: jump 0.5s ease-in-out;
}

.choice.incorrect {
  color: red;
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
