body {
  text-align: center;
}
.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#opt {
  display: flex;
  background-color: white;
  padding: 20px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

#opt > label {
  padding: 0vh 5vh 0vh 5vh;
}

#opt :hover {
  cursor: pointer;
  color: red;
  padding: 0vh 5vh 0vh 5vh;
}

#btn {
  padding: 2vh 5vh;
  cursor: pointer;
}
